# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

###############
# Source Code #
###############

# JavaScript
[*.js]
indent_style = tab

# Stylesheets
[*.{css,scss}]
indent_style = tab

# HTML
[*.{htm,html,tmpl}]
indent_style = tab

# PHP
[*.php]
indent_style = space
indent_size = 4

######################
# Configuration/Data #
######################

# JSON
[*.json]
indent_style = space
indent_size = 4

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 4

# Fusion, TypoScript2
[*.fusion,*.ts2]
indent_style = space
indent_size = 4

# TypoScript
[*.ts,*.typoscript,ext_typoscript_setup.txt,constants.txt,setup.txt,ext_conf_template.txt]
indent_style = space
indent_size = 2

# XML, XLF
[*.{xml,xlf}]
indent_style = tab

# SQL
[*.sql]
indent_style = tab

# Special files
[{package.json,.stylelintrc,.eslintrc}]
indent_style = space
indent_size = 2

######################
# Documentation/Text #
######################

# ReST
[*.rst]
indent_style = space
indent_size = 3

# Markdown
[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
