<html xmlns:sms="http://typo3.org/ns/Sitegeist/SmsResponsiveImages/ViewHelpers" data-namespace-typo3-fluid="true">
<sms:media
	class="image-embed-item{f:if(condition: settings.tx_smsresponsiveimages.class, then: ' {settings.tx_smsresponsiveimages.class}')}"
	file="{file}"
	width="{dimensions.width}"
	height="{dimensions.height}"
	alt="{file.alternative}"
	title="{file.title}"
	srcset="{settings.tx_smsresponsiveimages.srcset}"
	lazyload="{settings.tx_smsresponsiveimages.lazyload}"
	placeholderSize="{settings.tx_smsresponsiveimages.placeholder.size}"
	placeholderInline="{settings.tx_smsresponsiveimages.placeholder.inline}"
	sizes="{settings.tx_smsresponsiveimages.sizes}"
	breakpoints="{settings.tx_smsresponsiveimages.breakpoints}"
	ignoreFileExtensions="{settings.tx_smsresponsiveimages.ignoreFileExtensions}"
	fileExtension="{settings.tx_smsresponsiveimages.fileExtension}"
	loading="{settings.media.lazyLoading}"
/>
</html>
