{namespace sms=SMS\SmsResponsiveImages\ViewHelpers}

<h2>Responsive Images</h2>

<pre>{cropVariant: 'desktop', 'srcset': {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}}</pre>

<f:for each="{page.media}" as="mediaFile">
	<sms:media file="{mediaFile}" width="1000" cropVariant="desktop" srcset="{0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}" />

	<f:comment>
		<sms:image image="{mediaFile}" width="1000" cropVariant="desktop" srcset="{0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}" />
	</f:comment>
</f:for>



<h2>High DPI Images</h2>

<pre>{cropVariant: 'desktop', 'srcset': {0: '1x', 1: '2x'}}</pre>

<f:for each="{page.media}" as="mediaFile">
	<sms:media file="{mediaFile}" width="1000" cropVariant="desktop" srcset="{0: '1x', 1: '2x'}" />

	<f:comment>
		<sms:image image="{mediaFile}" width="1000" cropVariant="desktop" srcset="{0: '1x', 1: '2x'}" />
	</f:comment>
</f:for>



<h2>Responsive Images with Art Direction</h2>

<pre>{
	0: {cropVariant: 'desktop', media: '(min-width: 900px)', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}},
	1: {cropVariant: 'tablet', media: '(min-width: 600px)', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}}
	2: {cropVariant: 'mobile', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}}
}</pre>

<f:for each="{page.media}" as="mediaFile">
	<sms:media file="{mediaFile}" width="1000" breakpoints="{
		0: {cropVariant: 'desktop', media: '(min-width: 900px)', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}},
		1: {cropVariant: 'tablet', media: '(min-width: 600px)', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}},
		2: {cropVariant: 'mobile', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}}
	}" />

	<f:comment>
		<sms:image image="{mediaFile}" width="1000" breakpoints="{
			0: {cropVariant: 'desktop', media: '(min-width: 900px)', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}},
			1: {cropVariant: 'tablet', media: '(min-width: 600px)', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}},
			2: {cropVariant: 'mobile', srcset: {0: 200, 1: 400, 2: 600, 3: 800, 4: 1000}}
		}" />
	</f:comment>
</f:for>



<h2>High DPI Images with Art Direction</h3>

<pre>{
	0: {cropVariant: 'desktop', media: '(min-width: 900px)', srcset: {0: '1x', 1: '2x'}},
	1: {cropVariant: 'tablet', media: '(min-width: 600px)', srcset: {0: '1x', 1: '2x'}}
	2: {cropVariant: 'mobile', srcset: {0: '1x', 1: '2x'}}
}</pre>

<f:for each="{page.media}" as="mediaFile">
	<sms:media file="{mediaFile}" width="1000" breakpoints="{
		0: {cropVariant: 'desktop', media: '(min-width: 900px)', srcset: {0: '1x', 1: '2x'}},
		1: {cropVariant: 'tablet', media: '(min-width: 600px)', srcset: {0: '1x', 1: '2x'}},
		2: {cropVariant: 'mobile', srcset: {0: '1x', 1: '2x'}}
	}" />

	<f:comment>
		<sms:image image="{mediaFile}" width="1000" breakpoints="{
			0: {cropVariant: 'desktop', media: '(min-width: 900px)', srcset: {0: '1x', 1: '2x'}},
			1: {cropVariant: 'tablet', media: '(min-width: 600px)', srcset: {0: '1x', 1: '2x'}},
			2: {cropVariant: 'mobile', srcset: {0: '1x', 1: '2x'}}
		}" />
	</f:comment>
</f:for>
