<f:form class="demo-selector-form">
	<f:form.select
		class="demo-selector"
		name="demo"
		options="{0: 'Responsive Image with Art Direction', 1: 'High DPI Image with Art Direction', 2: 'Responsive Image', 3: 'High DPI Image'}"
		value="{demo}"
	/>
	<script>
	document.querySelector('.demo-selector').addEventListener('change', function () {
		document.querySelector('.demo-selector-form').submit();
	});
	</script>
</f:form>

<f:for each="{page.media}" as="mediaFile">
	<f:switch expression="{demo}">

		<f:case value="0">
			<f:comment>Responsive Image with Art Direction</f:comment>
			<sms:media file="{mediaFile}" width="1400" breakpoints="{
				0: {cropVariant: 'desktop', media: '(min-width: 1020px)', srcset: {0: 1020, 1: 1100, 2: 1200, 3: 1300, 4: 1400, 5: 1800, 6: 2200, 7: 2600}},
				1: {cropVariant: 'tablet', media: '(min-width: 660px)', srcset: {0: 660, 1: 770, 2: 900, 3: 1000, 4: 1200, 5: 1400, 6: 1700, 7: 2000}},
				2: {cropVariant: 'mobile', srcset: {0: 400, 1: 500, 2: 600, 3: 700, 4: 800, 5: 1000, 6: 1200}}
			}" />
		</f:case>

		<f:case value="1">
			<f:comment>High DPI Image with Art Direction</f:comment>
			<sms:media file="{mediaFile}" width="1400" breakpoints="{
				0: {cropVariant: 'desktop', media: '(min-width: 1020px)', srcset: {0: '1x', 1: '2x'}},
				1: {cropVariant: 'tablet', media: '(min-width: 660px)', srcset: {0: '1x', 1: '2x'}},
				2: {cropVariant: 'mobile', srcset: {0: '1x', 1: '2x'}}
			}" />
		</f:case>

		<f:case value="2">
			<f:comment>Responsive Image</f:comment>
			<sms:media
				file="{mediaFile}"
				width="1400"
				cropVariant="desktop"
				srcset="{0: 200, 1: 400, 2: 600, 3: 800, 4: 1000, 5: 1200}"
			/>
		</f:case>

		<f:case value="3">
			<f:comment>High DPI Image</f:comment>
			<sms:media file="{mediaFile}" width="1400" cropVariant="desktop" srcset="{0: '1x', 1: '2x'}" />
		</f:case>

	</f:switch>
</f:for>
