html,
body,
figure {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

.demo-selector-form {
	position: absolute;
	top: 1em;
	left: 0;
	right: 0;
	text-align: center;
}

.header {
	max-width: 1400px;
	margin: auto;
}

.content {
	margin: auto;
	padding: 3em 1em 1em;
}

@media (min-width: 660px) {
	.content {
		width: 640px;
	}
}

@media (min-width: 1020px) {
	.content {
		width: 1000px;
	}
}

@media (min-width: 1220px) {
	.content {
		width: 1200px;
	}
}
